<%= form_with(model: connection, local: true) do |form| %>
  <% if connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% connection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @connection.persisted? %>
    <div class="field form-group">
      <%= form.label :status, class: :"form-label" %>
      <%= form.select :status, Connection.statuses.keys%>
      <!--%= form.number_field :status, id: :connection_status %-->
    </div>
  <% end %>

  <div class="field form-group">
    <% if @mentee.present? %>
      <%= form.hidden_field :mentee_id, :value => @mentee.id %>
    <% else %>
      <%= form.label :mentee_id, class: :"form-label" %>
      <%= form.collection_select :mentee_id, Mentee.all, :id, :name_and_expertise, {:include_blank => true}, {class: :"form-control"} %>
    <% end %>
  </div>

  <div class="field form-group">
    <% if @mentor.present? %>
      <%= form.hidden_field :mentor_id, :value => @mentor.id %>
    <% else %>
      <%= form.label :mentor_id, class: :"form-label" %>
      <%= form.collection_select :mentor_id, Mentor.all, :id, :name_and_expertise, {:include_blank => true}, {class: :"form-control"} %>
    <% end %>
  </div>

  <div class="actions submit-btn">
    <%= form.submit "Connect", {class: "btn btn-lg btn-primary"}%>
  </div>
<% end %>
