<p id="notice"><%= notice %></p>

<h1>Connections</h1>

<table>
  <thead>
    <tr>
      <th>Date created</th>
      <th>Status</th>
      <th>Mentee</th>
      <th>Mentor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if logged_in? %>
      <% @connections.each do |connection| %>
        <tr>
          <td><%= connection.created_at %></td>
          <td><%= connection.status %></td>
          <td><%= connection.mentee.name %></td>
          <td><%= connection.mentor.name %></td>
          <td><%= link_to 'Show', connection %></td>
          <td><%= link_to 'Edit', edit_connection_path(connection) %></td>
          <td><%= link_to 'Destroy', connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <% flash[:danger] = "You must log in first" %>
      <script type="text/javascript">
           window.location.href="users/login"
      </script>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Connection', new_connection_path %>
