<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @connection.status %>
</p>

<p>
  <strong>Mentee:</strong>
  <%= @connection.mentee.name %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @connection.mentor.name %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
