<div class="container">

	<h1 class="page_header">Connection: <%= @connection.mentor.name %> &lt; &gt; <%= @connection.mentee.name %> </h1>

	<div id="connection-info">
		<h3>info</h6>
		<ul id="connection-info-list">
			<li>
				<span class="field-name">mentor</span>
				<span class="field-content"><%= link_to @connection.mentor.name %>, <%= @connection.mentor.job_title%> at <%= @connection.mentor.company%> (<%= link_to @connection.mentor.email %>)
				</span>
			</li>
			<li>
				<span class="field-name">mentee</span>
				<span class="field-content"><%= link_to @connection.mentee.name %>, <%= @connection.mentee.job_title%> at <%= @connection.mentee.company%> (<%= link_to @connection.mentee.email %>)</span>
			</li>
			<li><span class="field-name">connected</span>
				<span class="field-content"><%= @connection.created_at%></span>
			</li>
			<li><span class="field-name">status</span>
				<span class="field-content"><%= @connection.status%></span>
			</li>
		</ul>	
	</div>
</div>
