<%= form_with(model: mentee, local: true) do |form| %>
  <% if mentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentee.errors.count, "error") %> prohibited this mentee from being saved:</h2>

      <ul>
      <% mentee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, {id: :mentee_name, class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, {id: :mentee_email, class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, {id: :mentee_job_title, class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :expertise %>
    <%= form.text_field :expertise, {id: :mentee_expertise, class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, {id: :mentee_notes, class: :"form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
