
<h1 class="page_header">Mentees</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job title</th>
      <th scope="col">Expertise</th>
      <th scope="col">Notes</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% if logged_in? %>
      <% @mentees.each do |mentee| %>
        <tr>
          <td><%= link_to mentee.name, mentee %></td>
          <td><%= mentee.email %></td>
          <td><%= mentee.job_title %></td>
          <td><%= mentee.expertise %></td>
          <td><%= mentee.notes %></td>
          <td>
            <%= link_to 'Edit', edit_mentee_path(mentee), :class => 'btn btn-default', :role => 'button'  %>
            <%= link_to 'Remove', mentee, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default', :role => 'button' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% flash[:danger] = "You must log in first" %>
      <script type="text/javascript">
           window.location.href="users/login"
      </script>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mentee', new_mentee_path, :class => 'btn btn-default', :role => 'button' %>
