<div class="mentee-show">
  <h1 class="page-header">Mentee: <%= @mentee.name %></h1>

  <div class="header-line">
    <h3 class="inline-header">Profile</h3>&nbsp;
    <%= link_to 'Edit', edit_mentee_path(@mentee) %> 
  </div>

  <div class="details">
    <dl class="row">
      <dt class="col-sm-2">Email</dt>
      <dd class="col-sm-10"><%= mail_to @mentee.email %></dd>

      <dt class="col-sm-2">Joined</dt>
      <dd class="col-sm-10"><%= @mentee.date_created %></dd>      

      <dt class="col-sm-2">Works at</dt>
      <dd class="col-sm-10"><%= @mentee.company %></dd>      

      <dt class="col-sm-2">Title</dt>
      <dd class="col-sm-10"><%= @mentee.job_title %></dd>      

      <dt class="col-sm-2">Expertise</dt>
      <dd class="col-sm-10"><%= @mentee.expertise %></dd>      

      <dt class="col-sm-2">Notes</dt>
      <dd class="col-sm-10"><%= @mentee.notes %></dd>
    </dl>
  </div>

  <%= render 'shared/connection_list', person: @mentee %>

</div>