<div class="container">
  <div>
    <h1 class="page-header">Mentee: <%= @mentee.name %></h1>
  </div>
  <div>
    <span><h3 class="inline-header">Profile  </h3></span>
    <%= link_to 'Edit', edit_mentee_path(@mentee)  %> 
  </div>
  <p class="details">
    <div class="row">
      <div class="col-xs-2">Email</div>
      <div class="col-xs-2"><%= @mentee.email %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Joined</div>
      <div class="col-xs-2"><%= @mentee.date_created%></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Works at</div>
      <div class="col-xs-2"><%= @mentee.company %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Title</div>
      <div class="col-xs-2"><%= @mentee.job_title %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Expertise</div>
      <div class="col-xs-2"><%= @mentee.expertise %></div>
    </div>
    <div class="row">
      <div class="col-xs-2">Notes</div>
      <div class="col-xs-2"><%= @mentee.notes %></div>
    </div>
</p>

<div>
    <span><%= link_to '+ New Mentor', new_connection_path, :class => 'btn btn-lg pull-right', :role => 'button' %></span>
</div>
  <%= render 'mentors_list', mentor: @mentee %>
</div>


<%= link_to 'Back', mentees_path %>
