<div class="mentor-mentee-list">

	<!-- Header -->
	<div class="row table-header">
		<div class="col">
			<h3 class="inline-header">
				<%= person.is_a?(Mentor) ? 'Mentees' : 'Mentors' %>
			</h3>
		</div>
		<div class="col col-lg-auto">
			<%= link_to '+ New Mentee', person.new_connection_path, :class => 'btn btn-lg btn-primary', :role => 'button' %>
		</div>
	</div>

	<!-- Empty state -->
	<% if person.connections.empty?  %>

   		<h2> No Mentees </h2>

	<!-- List -->		   
	<% else %>

		<div class="table-responsive">
			<table class="table">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Status</th>
					<th scope="col">First connected</th>
					<th scope="col"># of Events</th>
					<th scope="col">Last Updated</th>
					<th scope="col">Actions</th>
				</tr>

				<tbody>
					<% person.connections.each do |connection| %>
					<tr>
						<td>
							<% if person.is_a?(Mentor) %>
								<%= link_to connection.mentee.name, mentee_path %>
							<% else %>
								<%= link_to connection.mentor.name, mentor_path %>
							<% end %>
						</td>
						<td>
							<span class="tag <%= connection.status %>">
								<%= connection.status %>
							</span>
						</td>
						<td><%= time_ago_in_words connection.created_at%> ago</td>
						<td><%= connection.events.length %></td>
						<td><%= time_ago_in_words connection.last_updated %> ago</td>
						<td><%= link_to 'Show details', events_path, :class => 'btn btn-outline-primary', :role => 'button' %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>

	<% end %>
</div>
