<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <% current_user %>
      <a class="navbar-brand" href="/"><%= link_to 'All Mentors', controller: 'mentors'%></a>
      <a class="navbar-brand" href="/"><%= link_to 'All Mentees', controller: 'mentees'%></a>   
      <a class="navbar-brand" href="/"><%= link_to 'All Connections', controller: 'connections'%></a>
      <a class="navbar-brand" href="/"><%= link_to 'All Events', controller: 'events'%></a>
      <a class="navbar-brand" href="/"><%= link_to 'All Users', controller: 'users'%></a>
      <a class="navbar-brand" href="/"><%= link_to 'Log Out', controller: 'users'%></a>
    </div>
  </div>
</nav>
