<%= form_with(model: event, local: true) do |form| %>
  <div class="field form-group">
    <%= form.label :event_date, class: "form-label" %>
    <%= form.date_field :event_date, {id: :event_date, class: "form-control", value: Time.now.to_date } %>
  </div>

  <%= form.hidden_field :connection_id %>

  <div class="field form-group">
    <%= form.label :event_type, class: :"form-label" %>
    <%= form.select :event_type, Event.event_types.keys, {} ,{class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :meeting_method, class: :"form-label" %>
    <%= form.select :meeting_method, Event.meeting_methods.keys, {} ,{class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :notes, class: :"form-label" %>
    <%= form.text_area :notes, id: :event_notes, class: :"form-control" %>
  </div>

  <div class="actions submit-btn">
    <%= form.submit "Create", {class: "btn btn-lg btn-primary"} %>
  </div>
<% end %>

