<%= form_with(model: event, local: true) do |form| %>

  <div class="field form-group">
    <%= form.label :connection_id, class: :"form-label" %>
    <%= form.text_field :connection_id, id: :event_connection_id, class: :"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :event_type, class: :"form-label" %>
    <%= form.select :event_type, Event.event_types.keys, {} ,{class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :meeting_method, class: :"form-label" %>
    <%= form.select :meeting_method, Event.meeting_methods.keys, {} ,{class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :notes, class: :"form-label" %>
    <%= form.text_area :notes, id: :event_notes, class: :"form-control" %>
  </div>

  <div class="actions submit-btn">
    <%= form.submit "Create", {class: "btn btn-default"} %>
  </div>
<% end %>
