<%= form_with(model: mentor, local: true) do |form| %>
  <% if mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
      <% mentor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, {id: :mentor_name, class: :"form-control", place_holder: :"Name"}%>
  </div>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email, {id: :mentor_email, class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, {id: :mentor_job_title, class: :"form-control" }%>
  </div>

  <div class="field form-group">
    <%= form.label :expertise %>
    <%= form.text_field :expertise, {id: :mentor_expertise, class: :"form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :mentee_slots %>
    <%= form.number_field :mentee_slots, {id: :mentor_mentee_slots, class: :"form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
