<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @mentor.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mentor.name %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @mentor.date_created %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @mentor.job_title %>
</p>

<p>
  <strong>Expertise:</strong>
  <%= @mentor.expertise %>
</p>

<p>
  <strong>Mentee slots:</strong>
  <%= @mentor.mentee_slots %>
</p> 

<a id="New Connection" class="btn btn-large btn-primary" href="/connections/new?mentor_id=<%= @mentor.id %>">
+ New connection
</a>

<%= render 'mentees_list', mentor: @mentor %>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
