<div class="mentor-mentee mentor show">
  <h1 class="page-header">
    <span class="category">Mentor</span> 
    <%= @mentor.name %>
  </h1>
  
  <div class="info-title">
    <h3 class="inline-header">Profile</h3>&nbsp;
    <%= link_to 'Edit', edit_mentor_path(@mentor)%> 
  </div>

  <div class="details">
    <dl class="row">
      <dt class="col-sm-2">Email</dt>
      <dd class="col-sm-10"><%= mail_to @mentor.email %></dd>

      <dt class="col-sm-2">Joined</dt>
      <dd class="col-sm-10">
        <%if @mentor.date_created %>
          <%= time_ago_in_words @mentor.date_created %> ago
        <% end %>      
      </dd>      

      <dt class="col-sm-2">Works at</dt>
      <dd class="col-sm-10"><%= @mentor.company %></dd>      

      <dt class="col-sm-2">Title</dt>
      <dd class="col-sm-10"><%= @mentor.job_title %></dd>      

      <dt class="col-sm-2">Expertise</dt>
      <dd class="col-sm-10"><%= @mentor.expertise %></dd>      

      <dt class="col-sm-2">Mentee Slots</dt>
      <dd class="col-sm-10"><%= @mentor.mentee_slots %> (<%= @mentor.available_mentee_slots %> open)</dd>      
    </dl>
  </div>

  <%= render 'shared/connection_list', person: @mentor %>

</div>