<div class="mentor-show">
  <h1 class="page-header">Mentor: <%= @mentor.name %></h1>
  
  <div class="header-line">
    <h3 class="inline-header">Profile</h3>&nbsp;
    <%= link_to 'Edit', edit_mentor_path(@mentor)%> 
  </div>

  <div class="details">
    <dl class="row">
      <dt class="col-sm-2">Email</dt>
      <dd class="col-sm-10"><%= mail_to @mentor.email %></dd>

      <dt class="col-sm-2">Joined</dt>
      <dd class="col-sm-10"><%= @mentor.date_created %></dd>      

      <dt class="col-sm-2">Works at</dt>
      <dd class="col-sm-10"><%= @mentor.company %></dd>      

      <dt class="col-sm-2">Title</dt>
      <dd class="col-sm-10"><%= @mentor.job_title %></dd>      

      <dt class="col-sm-2">Expertise</dt>
      <dd class="col-sm-10"><%= @mentor.expertise %></dd>      

      <dt class="col-sm-2">Mentee Slots</dt>
      <dd class="col-sm-10"><%= @mentor.mentee_slots %> (<%= @mentor.available_mentee_slots %> open)</dd>      

    </dl>
  </div>

  <div>
      <div class="row">
        <div class="col">
          <h3 class="inline-header">Mentees</h3>
        </div>
        <div class="col col-lg-auto">
          <%= link_to '+ New Mentee', new_connection_path, :class => 'btn btn-lg btn-primary', :role => 'button' %>
        </div>
    </div>
    <%= render 'mentees_list', mentor: @mentor %>
  </div>

</div>