<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= favicon_link_tag %>
    <%= favicon_link_tag 'favicon-96.png', rel: 'apple-touch-icon', type: 'image/png' %>
    
    <title>Baot Mentorship</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">Baot Mentorship</a>

        <% if logged_in? %>
          <%= render 'shared/navigation' %>
        <% else %>
          <%= render 'shared/navigation_guest' %>
        <% end %>  
      </nav>    
    </header>

    <div class="container" style="padding-top: 30px">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>

      <%= yield %>  
      <%= yield :form_errors %>
    </div>

</html>
